<html lang="en">
<head>
    <title>FASHIONNIKE</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "Stylesheet" href = "Styles.css" >

</head>
<body>
    <h4 class ="c1">Add a new product</h4>

    <form action="/AddData" method = "POST" >
    <label>product id  : </label>
    <input type ="number" placeholder="Enter product ID" name = "pid" ><br>

    <label>Type of the product : </label> &nbsp;
    <input type ="text" placeholder="Enter category" name = "pname" ><br>

    <lablel>Name  : </lablel>&nbsp;
    <input type ="number" placeholder="Enter size" name = "psize" ><br><br>


    <label>Stock : </label> &nbsp;
    <input type ="number" placeholder="Enter stock" name = "pstock" ><br>

    <label>Stock : </label> &nbsp;
    <input type ="number" placeholder="Enter sprice" name = "sp" ><br>

    

    <button type = "submit" >Submit</button>


</form>

<a href ="/" class = "c2" >Home Page </a>


    
</body>
</html>